/.idea/
*.iml
*/*.iml
/logs/*
*/logs/*
*/*.exe
*/target
.DS_Store
./.DS_Store
../.DS_Store
../../.DS_Store
/../.DS_Store
/readme.husx.md
/clean.sh
*.uml
/smart-audit-admin-api/src/test/java/com/chinamobile/cmss/smartaudit/service/security/JasyptTest.java
/lib/
*/lib/


# eclipse git 排除项
/*/.classpath
/*/.project
/.project
/clean_idea_mvn.sh
/*/*/*/*/log4j.properties
/*/*/*/*/log4j.properties
*/.settings/*
/.settings/*



/.husx/*
